<html ng-app="EarthDollarWallet">
  <head>
    <title>Earth Dollar Wallet</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/earth-dollar.css">
    <script src="js/angular.min.js"></script>
    <script src="js/web3.min.js"></script>
    <script src="js/EarthDollarCtrl.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
  </head>


  <body ng-controller="EarthDollarCtrl">
    <div class="shade"></div>
    <div class="container">
      <h1>Earth Dollar Wallet v0.0.2</h1>
      <h2>Your accounts:</h2>
      <ul class="account-list">
        <li class="account-entry header">
          <span>Account</span>
          <span>Earth Dollar amount</span>
          <span></span>
        </li>
        <li class="account-entry" ng-repeat="account in accounts">
          <span class="account-label">{{account.address}}: </span>
          <span class="account-amount">{{account.amount}}</span>
          <span>
            <div class="btn btn-primary" ng-click="showSendDialog(account.address)">Send Coins</div>
          <span>
        </li>
      </ul>
      <div class="error" ng-if="!hasWeb3 && settled">
        <span>Please open this page in Mist or install <a href="https://metamask.io/">Meta Mask</a></span>
      </div>

      <div class="error" ng-show="!accounts.length && settled">
        <span>No accounts authorized. Please choose accounts to use with Earth Dollar from your Ethereum client</span>
      </div>

      <div id="minter-interface" ng-show="isMinter">
        <div class="btn btn-success" ng-click="showMintDialog()">Mint Coins</div>
      </div>
    </div>


    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">{{modalHeader}}</h4>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="recipient-address" class="control-label">Recipient:</label>
                <input type="text" class="form-control" id="recipient-name" ng-model="recipientAddress">
              </div>
              <div class="form-group">
                <label for="amount" class="control-label">Amount:</label>
                <input type="number" class="form-control" id="message-text" ng-model="amount"></input>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" ng-click="dialogOkButton()">{{modalHeader}}</button>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
